extends ../../../templates/navbarclient.pug
block content
    .right_col(role='main')   
            .page-title
                .title_left
                    h3
                .clearfix
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_panel
                                .x_title
                                    h1 Create List
                                    .clearfix
                                .x_content
                                    br
                                    .x_panel(style='background-color:#f2f2f2')
                                        | &nbsp&nbsp&nbsp&nbsp&nbsp
                                        b Disclaimer!
                                        ul
                                            li
                                                | Please select type of service/s that you want to include in your list.
                                    br
                                    br
                                    .x_panel(style='background-color:#F2F2F2; border-line:1 px; border-color:#c0c0c0')
                                        br
                                        form(method='POST' action='/request_add/createlist_services/createlist').form-horizontal
                                            .form-group
                                                label.control-label.col-md-4.col-sm-3.col-xs-12 Name of list:
                                                .col-md-4.col-sm-9.col-xs-12
                                                    input.form-control(type='text', name='reqname', required='')
                                                    input.form-control(id='thedate' type='date', name='reqdate' style='visibility:hidden;')
                                            .form-group
                                                label.control-label.col-md-4.col-sm-3.col-xs-12 Job Description:
                                                .col-md-4.col-sm-9.col-xs-12
                                                    textarea.form-control(rows='3', name='reqdesc')
                                            .form-group.pull-right
                                                .col-md-12.col-sm-9.col-xs-12.pull-right
                                                    a(href='/request_add')
                                                        button.btn.btn-primary.btn-lg(type='button') Cancel
                                                    button.btn.btn-primary.btn-lg(type='reset') Reset
                                                    button.btn.btn-success.btn-lg(type='submit',  onCLick='time();') Next
                                                    //- button.btn.btn-success.btn-lg(type='button',  onCLick='time();') test
                                                                                                                                                                         
    script.
        function time(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            var hh = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();
            var x= document.getElementById("thedate");
            
            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd ;
            //- document.write(today);
           document.getElementById("thedate").value=today;
        }