extends ../../../templates/navbarclient.pug

block content
    .right_col(role='main')
        div
            .page-title
                .title_left
                    h1
                    b 
            .clearfix
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_panel
                            .x_title
                                h1
                                    b Deployment Process
                                .clearfix
                                //- 
                            p                     
                                #wizard.form_wizard.wizard_horizontal
                                    ul.wizard_steps
                                        li
                                            a(href='#step-1')
                                                span.step_no 1
                                                |                             
                                                span.step_descr
                                                    | Step 1
                                                    br
                                                    |                                               
                                                    small Deployment Detail
                                        li
                                            a(href='#step-2')
                                                span.step_no 2
                                                |                             
                                                span.step_descr
                                                    | Step 2
                                                    br
                                                    |                                               
                                                    small Review Summary                    
                                        
                                    #step-1
                                        form.form-horizontal.form-label-center
                                            
                                            br
                                            .form-group
                                                label.control-label.col-md-5 Type of Deployment
                                                .col-md-3
                                                    select.form-control
                                                        option Choose option
                                                        option Option one
                                            .form-group
                                                label.control-label.col-md-5
                                                    | Preferred Date For Deployment
                                                    span.required *
                                                .col-md-3
                                                    input#single_cal4.form-control.has-feedback-left(type='text', placeholder='First Name', aria-describedby='inputSuccess2Status4')
                                                    span.fa.fa-calendar-o.form-control-feedback.left(aria-hidden='true')
                                                    span#inputSuccess2Status4.sr-only (success)
                                            .form-group
                                                label.control-label.col-md-5
                                                    | Preferred Time For Deployment
                                                    span.required *
                                                .col-md-3
                                                    #myDatepicker3.input-group.date
                                                        input.form-control(type='text')
                                                        span.input-group-addon
                                                            span.glyphicon.glyphicon-time
                                            br
                                            br
                                            br
                                            br
                                            br
                                            br
                                    


                                            //- .form-group
                                            //-     label.control-label.col-md-5
                                            //-         | Preferred Time For Deployment
                                            //-         span.required *                            
                                            //-     .col-md-3
                                            //-         input.form-control(type='time', required='required')
                                    #step-2
                                        //- form.form-horizontal.form-label-left
                                        //-     .form-group
                                        //-         label.control-label.col-md-3.col-sm-3.col-xs-12
                                        //-             | Choose Mode Of Deployment :
                                        //-             span.required *                            
                                        //-         .col-md-6.col-sm-6.col-xs-12
                                        //-             input#first-name.form-control.col-md-7.col-xs-12(type='text', required='required')
                                        //-     .form-group
                                        //-         label.control-label.col-md-3.col-sm-3.col-xs-12(for='first-name')
                                        //-             | Preferred Date For Deployment
                                        //-             span.required *                            
                                        //-         .col-md-6.col-sm-6.col-xs-12
                                        //-             input#first-name.form-control.col-md-7.col-xs-12(type='text', required='required')
                                        //-     .form-group
                                        //-         label.control-label.col-md-3.col-sm-3.col-xs-12(for='first-name')
                                        //-             | Preferred Time For Deployment
                                        //-             span.required *                            
                                        //-         .col-md-6.col-sm-6.col-xs-12
                                        //-             input#first-name.form-control.col-md-7.col-xs-12(type='text', required='required')
                                        //-         