extends ../../../templates/navbarhw.pug
block content
    .right_col(role='main')
        div
            .page-title
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_title
                                h1
                                    b Request For Leave
                                .clearfix
                            .x_content
                                form.form-horizontal.form-label-left
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12 Type Of Leave
                                        .col-md-9.col-sm-9.col-xs-12
                                            select.form-control
                                                option Choose option
                                                option Option one
                                                option Option two
                                                option Option three
                                                option Option four
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12 Address While On Leave
                                        .col-md-9.col-sm-9.col-xs-12
                                            input.form-control(type='text')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | Reason 
                                            span.required *
                                        .col-md-9.col-sm-9.col-xs-12
                                            textarea.form-control(rows='10')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12 Starting From:
                                        .col-md-9.col-sm-9.col-xs-12
                                            input.form-control(type='date')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12 To:
                                        .col-md-9.col-sm-9.col-xs-12
                                            input.form-control(type='date')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12 Total Number Of Days:
                                        .col-md-9.col-sm-9.col-xs-12
                                            input.form-control(type='number')
                                    .form-group
                                        .pull-right
                                            br
                                            button.btn-lg.btn-secondary(type='reset') Reset
                                            button.btn-lg.btn-primary(type='submit') Submit
                                        
                    //-     h2 Leave
                    //-     ul.nav.navbar-right.panel_toolbox
                    //-         li
                    //-             a.collapse-link
                    //-                 i.fa.fa-chevron-up
                    //-         li.dropdown
                    //-             a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    //-                 i.fa.fa-wrench
                    //-             ul.dropdown-menu(role='menu')
                    //-                 li
                    //-                     a(href='#') Settings 1
                    //-                 li
                    //-                     a(href='#') Settings 2
                    //-         li
                    //-             a.close-link
                    //-                 i.fa.fa-close
                    //-     .clearfix
                    //- .x_content
                    //-     | Add content to the page ...

