extends ../../../templates/navbaradmin.pug

block content
    .right_col(role='main')
        .page-title
            .title_left
                h5
                    | Household Worker / 
                    b List
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_content
                        table#datatable.table.table-striped.table-bordered
                            thead
                                tr
                                    th ID NO.
                                    th NAME
                                    th TYPE OF SERVICE
                                    th STATUS
                                    th ACTION
                            tbody
                                each item in itemtab
                                    tr
                                    
                                        td #{item.intID}
                                        td #{item.strName}
                                        td
                                        td #{item.strStatus}
                                            //- input.js-switch(type='checkbox', checked='')
                                        td
                                            button.btn.btn-info(type='button')
                                                i.fa.fa-eye
                                                |   View
                                            button.btn.btn-primary(type='button', id=''+item.intID, name=''+item.strName, value=''+item.strDesc, data-toggle='modal', data-target='.bs-edit-modal-lg', onclick="copyID(this.id), copyID2(this.id), copyName(this.name), copyValue(this.value);" )
                                                i.fa.fa-edit
                                                |   Edit
                                            if item.strStatus=='Registered'
                                                a(href="ban_householdworker/"+item.intID)
                                                    button.btn.btn-danger(type='button')
                                                        i.fa.fa-toggle-off
                                                        |   Ban
                                            else if item.strStatus=='Banned'
                                                a(href="reinstate_householdworker/"+item.intID)
                                                    button.btn.btn-danger(type='button')
                                                        i.fa.fa-toggle-on
                                                        |   Reinstate
            

                //- Edit
                #edit.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                    .modal-dialog.modal-lg
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title Edit Requirement
                            .modal-body
                                form#demo-form2.form-horizontal.form-label-left(method="POST" action="edit_requirement")
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | ID
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='number', id='_id', required='required', disabled)
                                            input.form-control.col-md-7.col-xs-12(type='number', id='_id', required='required', name='requirementID' style="display:none;")                          
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | Requirement Name
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', id='_name', required='required', name='requirementname')
                                    .ln_solid
                                    .form-group
                                        .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                                            button.btn.btn-success(type='submit') Update
                                .modal-footer
                                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancel
