extends ../../../templates/navbaradmin.pug

block content
    // page content
    .right_col(role='main')
        div
            .title_left
              h1
                b Dashboard
            .x_panel
              .col-md-8.col-sm-12.col-xs-12
                div
                  br
                  .animated.flipInY.col-lg-6.col-md-3.col-sm-6.col-xs-12
                    .tile-stats
                      .icon
                        i.fa.fa-edit
                      .count 0
                      h3 New Registration
                      p You have new registration.
                      br
                      a(href='pendingRegi')
                        | &nbsp&nbsp&nbsp
                        button.btn.btn-info(type='button') view
                  .animated.flipInY.col-lg-6.col-md-3.col-sm-6.col-xs-12
                    .tile-stats
                      .icon
                        i.fa.fa-comments-o
                      .count 1
                      h3 New Request
                      p You have new request.
                      br
                      a(href='newRequest')
                        | &nbsp&nbsp&nbsp
                        button.btn.btn-info(type='button') &nbsp&nbspview
                .animated.flipInY.col-lg-6.col-md-3.col-sm-6.col-xs-12
                  .tile-stats
                    .icon
                      i.fa.fa-check
                    .count 36
                    h3 Settled
                    p Total number of settled transaction.
                    br
                    a(href='household_workerList')
                      | &nbsp&nbsp&nbsp
                      button.btn.btn-info(type='button') view
                .animated.flipInY.col-lg-6.col-md-3.col-sm-6.col-xs-12
                  .tile-stats
                    .icon
                      i.fa.fa-exclamation-triangle
                    .count 17
                    h3 New User's Report
                    p TNew report from client and household worker
                    br
                    a(href='clientList')
                      | &nbsp&nbsp&nbsp
                      button.btn.btn-info(type='button') &nbsp&nbspview
              .col-md-4.col-sm-12.col-xs-12
                div
                  .x_title
                    h3
                      center Today's Activity
                    .clearfix
                  ul.list-unstyled.top_profiles.scroll-view
                    li.media.event
                      a.pull-left.border-aero.profile_thumb
                        i.fa.fa-user.aero
                      .media-body
                        a.title(href='#') Id no: 1
                        p
                          i Janelle Alag
                        p
                          | For 
                          b Drop-off,
                          |  10:30 am
                    li.media.event
                      a.pull-left.border-green.profile_thumb
                        i.fa.fa-user.green
                      .media-body
                        a.title(href='#') Id no: 4
                        p
                          i Mary Justine Espin
                        p
                          | For 
                          b Drop-off,
                          |  11:00 am
                    li.media.event
                      a.pull-left.border-blue.profile_thumb
                        i.fa.fa-user.blue
                      .media-body
                        a.title(href='#') Id no: 6
                        p
                          i Gilbert Cortez
                        p
                          | For 
                          b Pick-up,
                          |  1:30 pm
                    li.media.event
                      a.pull-left.border-aero.profile_thumb
                        i.fa.fa-user.aero
                      .media-body
                        a.title(href='#') Id no: 2
                        p
                          i Mary Jane Duran
                        p
                          | For 
                          b Drop-off,
                          |  2:30 pm
                    li.media.event
                      a.pull-left.border-green.profile_thumb
                        i.fa.fa-user.green
                      .media-body
                        a.title(href='#') Id no: 8
                        p
                          i Xander Pijan
                        p
                          | For 
                          b Drop-off,
                          |  3:00 pm

