
extends ../../../templates/navbaradmin.pug

block content
    // page content
    .right_col(role='main')
        div
            .page-title
                .title_left
                    h5
                        | Maintenance /&nbsp
                        b Incident Report
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_content
                            button.btn.btn-success.btn-lg(type='button', data-toggle='modal', data-target='.bs-add-modal-xs')
                                i.fa.fa-plus
                                | &nbspAdd
                            br
                            br
                            table#datatable.table.table-striped.table-bordered
                                thead
                                    tr
                                        //- th ID NO.
                                        th INCIDENT REPORT
                                        th DESCRIPTION
                                        th STATUS
                                        th ACTION
                                tbody
                                    each item in itemtab
                                        tr
                                        
                                            //- td #{item.intID}
                                            td #{item.strName}
                                            td #{item.strDesc}
                                            td #{item.strStatus}
                                                //- input.js-switch(type='checkbox', checked='')
                                            td
                                                //- button.btn.btn-info(type='button')
                                                    i.fa.fa-eye
                                                    |   View
                                                button.btn.btn-primary(type='button', id=''+item.intID, name=''+item.strName, value=''+item.strDesc, data-toggle='modal', data-target='.bs-edit-modal-xs', onclick=" copyID2(this.id), copyName(this.name), copyValue(this.value);" )
                                                    i.fa.fa-edit
                                                    |   Edit
                                                if item.strStatus=='Active'
                                                    a(href="disable_incidentreport/"+item.intID)
                                                        button.btn.btn-danger(type='button')
                                                            i.fa.fa-toggle-off
                                                            |   Disable
                                                else if item.strStatus=='Inactive'
                                                    a(href="enable_incidentreport/"+item.intID)
                                                        button.btn.btn-danger(type='button')
                                                            i.fa.fa-toggle-on
                                                            |   Enable
                //- Add
                .modal.fade.bs-add-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
                    .modal-dialog.modal-xs
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title Add an Incident Report
                            .modal-body
                               form#demo-form2.form-horizontal.form-label-left(method="POST" action="add_incidentreport")
                                .form-group
                                    label.control-label.col-md-3.col-sm-3.col-xs-12(for='incident-name')
                                        | Incident Name 
                                        span.required *
                                    .col-md-6.col-sm-6.col-xs-12
                                        input#first-name.form-control.col-md-7.col-xs-12(type='text', required='required', name='incidentname')
                                .form-group
                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                        | Description
                                        span.required *
                                    .col-md-9.col-sm-9.col-xs-12
                                        textarea.form-control(rows='3', placeholder='Add a description...' ,name='incidentdesc')
                                .ln_solid
                                .form-group.pull-right
                                    button.btn.btn-warning(type='reset') Reset
                                    button.btn.btn-success(type='submit') Add
                                    button.btn.btn-danger(type='button', data-dismiss='modal') Cancel
                //- Edit
                .modal.fade.bs-edit-modal-xs(tabindex='-1', role='dialog', aria-hidden='true')
                    .modal-dialog.modal-xs
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                h4#myModalLabel.modal-title Edit Incident Report
                            .modal-body
                                form#demo-form2.form-horizontal.form-label-left(method="POST" action="edit_incidentreport")
                                    .form-group
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', id='txt11', required='required', name='incidentID' style="display:none;")                          
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | Incident Name
                                            span.required *
                                        .col-md-6.col-sm-6.col-xs-12
                                            input.form-control.col-md-7.col-xs-12(type='text', id='txt2', required='required', name='incidentname')
                                    .form-group
                                        label.control-label.col-md-3.col-sm-3.col-xs-12
                                            | Description
                                            span.required *
                                        .col-md-9.col-sm-9.col-xs-12
                                            textarea.form-control(rows='3', id='txt3', name='incidentdesc')
                                    .ln_solid
                                    .form-group.pull-right
                                        button.btn.btn-success(type='submit') Update
                                        button.btn.btn-danger(type='button', data-dismiss='modal') Cancel

            // /page content


        //- for update
        script(type='text/javascript').
             function copyID2(clicked_id) {
                document.getElementById("txt11").value = clicked_id;
            }
            function copyName(clicked_name) {
                document.getElementById("txt2").value = clicked_name;
            }
            function copyValue(clicked_value) {
                document.getElementById("txt3").value = clicked_value;
            }

    