extends ../../../templates/navbaradmin.pug

block content
    .right_col(role='main')
        .page-title
            .title_left
                h5
                    | Registration / Household Worker / 
                    b Form
        form.form-horizontal.form-label-left(method='POST' action='register_householdworker')
            .row
                .col-md-12.col-sm-12.col-xs-12
                    .x_panel
                        .x_title
                            h3 Personal Info
                            .clearfix
                        .x_content
                            br
                            #wizard.form_wizard.wizard_horizontal
                                ul.wizard_steps
                                    li
                                        a(href='#step-1')
                                            span.step_no 1
                                            span.step_descr
                                                | Step 1
                                                br
                                                small Personal Information
                                    li
                                        a(href='#step-2')
                                            span.step_no 2
                                            span.step_descr
                                                | Step 2
                                                br
                                                small Educational Background
                                    li
                                        a(href='#step-3')
                                            span.step_no 3
                                            span.step_descr
                                                | Step 3
                                                br
                                                small Working Background
                                    li
                                        a(href='#step-4')
                                            span.step_no 4
                                            span.step_descr
                                                | Step 4
                                                br
                                                small Character References
                                #step-1
                                    br
                                    div(align='center')
                                        .x_panel(style='width:85%; background-color:#f1f1f1')
                                                br
                                                br
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Service
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        select.form-control(name='service')
                                                            each item in itemtab
                                                                option(value=''+item.intID) #{item.strName}
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Name 
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='fname', placeholder='First Name', required)
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        span.required
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#name.form-control.col-md-7.col-xs-12(type='text', name='mname', placeholder='Middle Name')
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#name.form-control.col-md-7.col-xs-12(type='text', name='lname', placeholder='Last Name')
                                                .form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Gender
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        div(align='left')
                                                            | Male
                                                            input#genderM.flat(type='radio', name='gender', value='Male', required='')
                                                            |  Female:
                                                            input#genderF.flat(type='radio', name='gender', value='Female')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Current Address 
                                                        span.required *
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#number.form-control.col-md-7.col-xs-12(type='text', name='housenum', placeholder='House/Bldg. no.', required='required')
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#number.form-control.col-md-7.col-xs-12(type='number', name='street', placeholder='Street', required='required')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        span.required
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#number.form-control.col-md-7.col-xs-12(type='text', name='municipality', placeholder='Municipality', required='required')
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#number.form-control.col-md-7.col-xs-12(type='text', name='city', placeholder='City', required='required')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Permanent Address 
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='paddress' required)
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Cellphone # 
                                                        span.required
                                                    .col-md-3.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='cellnum', placeholder='e.g 09356278841')
                                                    label.control-label.col-md-1.col-sm-3.col-xs-12
                                                        | Tel. # 
                                                    .col-md-2.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='telnum', placeholder='e.g 245-3423')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Date of Birth 
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='date', name='bday')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Place of Birth 
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='baddress')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Height (in ft.)
                                                        span.required *
                                                    .col-md-2.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='height', placeholder="e.g 5'2")
                                                    label.control-label.col-md-2.col-sm-3.col-xs-12
                                                        | Weight (in lbs.)
                                                        span.required *
                                                    .col-md-2.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='occupation', placeholder='e.g 110')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Civil Status
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        select.form-control(name='civilstatus')
                                                            option(value='Single') Single
                                                            option(value='Married') Married
                                                            option(value='Divorced') Divorced
                                                            option(value='Separated') Separated
                                                            option(value='Widowed') Widowed
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Citizenship 
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='citizenship')
                                                .item.form-group
                                                    label.control-label.col-md-3.col-sm-3.col-xs-12
                                                        | Religion 
                                                        span.required *
                                                    .col-md-6.col-sm-6.col-xs-12
                                                        input#occupation.optional.form-control.col-md-7.col-xs-12(type='text', name='religion')
                                                br
                                #step-2
                                    br
                                    .x_panel(style='background-color:#f1f1f1')
                                        div(align='center')
                                            form.form-horizontal.form-label-left(novalidate='')
                                                br
                                                table
                                                    thead
                                                        tr
                                                            td
                                                            td &nbsp&nbsp
                                                            td(align='center') NAME
                                                            td(align='center') ADDRESS
                                                            td(align='center') DATE
                                                        tr
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                    tbody
                                                        tr
                                                            td Primary Education
                                                            td
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='type', value='Elementary' style='display:none;')
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='elemname', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='elemadd', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='number', name='elemyear', placeholder='e.g  2011 - 2015')
                                                        tr
                                                            td Secondary Education
                                                            td
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='type2', value='High School' style='display:none;')
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='secondname', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='secondadd', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='number', name='secondyear', placeholder='e.g  2011 - 2015')
                                                        tr
                                                            td Tertiary Education
                                                            td
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='type3', value='College' style='display:none;')
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='tername', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='teradd', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='number', name='teryear', placeholder='e.g  2011 - 2015')
                                                        tr
                                                            td
                                                                b Vocational
                                                            td
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='type4', value='Vocational' style='display:none;')
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='vocname', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='vocadd', placeholder='')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='number', name='vocyear', placeholder='e.g  2011 - 2015')
                                                br
                                                .item.form-group
                                                    label.control-label.col-md-2.col-sm-3.col-xs-12
                                                        | Skills: 
                                                        span.required
                                                    .col-md-9.col-sm-6.col-xs-12
                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='educskill', placeholder='e.g  Singing, Dancing, Drawing', required='required')
                                                br
                                #step-3
                                    br
                                    .x_panel(style='background-color:#f1f1f1')
                                        div(align='center')
                                            form.form-horizontal.form-label-left(novalidate='')
                                                br
                                                table
                                                    thead
                                                        tr
                                                            td(align='center') FROM - TO
                                                            td(align='center') POSITION
                                                            td(align='center') COMPANY
                                                            td(align='center') ADDRESS
                                                        tr
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                    tbody
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='e.g  2011 - 2015', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='e.g  2011 - 2015', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='e.g  2011 - 2015', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='e.g  2011 - 2015', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                br
                                #step-4
                                    br
                                    br
                                    .x_panel(style='background-color:#f1f1f1')
                                        div(align='center')
                                            h2
                                                u
                                                    b Relatives
                                            br
                                            form.form-horizontal.form-label-left(novalidate='')
                                                br
                                                table
                                                    thead
                                                        tr
                                                            td(align='center') NAME
                                                            td(align='center') OCCUPATION
                                                            td(align='center') CONTACT NUMBER
                                                            td(align='center') ADDRESS
                                                        tr
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                    tbody
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                    br
                                    br
                                    .x_panel(style='background-color:#f1f1f1')
                                        div(align='center')
                                            h2
                                                u
                                                    b Non-Relatives
                                            br
                                            form.form-horizontal.form-label-left(novalidate='')
                                                br
                                                table
                                                    thead
                                                        tr
                                                            td(align='center') NAME
                                                            td(align='center') OCCUPATION
                                                            td(align='center') CONTACT NUMBER
                                                            td(align='center') ADDRESS
                                                        tr
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                            td
                                                                br
                                                    tbody
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                        tr
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                                                            td
                                                                .item.form-group
                                                                    .col-md-12.col-sm-6.col-xs-12
                                                                        input#email.form-control.col-md-7.col-xs-12(type='text', name='email', placeholder='', required='required')
                            // End SmartWizard Content